<appSettings>
  <add key="ida:AppID" value="YOUR APP ID HERE" />
  <add key="ida:AppSecret" value="YOUR APP PASSWORD HERE" />
  <add key="ida:RedirectUri" value="http://localhost:64107/" />
  <add key="ida:AppScopes" value="User.Read Calendars.Read" />
</appSettings>
