<appSettings>
  <add key="ida:AppID" value="YOUR_APP_ID_HERE" />
  <add key="ida:AppSecret" value="YOUR_APP_PASSWORD_HERE" />
  <add key="ida:RedirectUri" value="http://localhost:64107/" />
  <add key="ida:AppScopes" value="User.Read Calendars.Read" />
</appSettings>
